@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Hepta+Slab:wght@1..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


*{
  box-sizing: border-box;
  font-family: Outfit;

}
html {
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.active-link {
  border-bottom: 3px solid white;
}

@keyframes fade {
  0% { opacity: 0; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(1.1); }
}

.animate-fade {
  animation: fade 2s ease-in-out forwards;
}


              @keyframes shine {
                    0% {
                        background-position: 0% 50%;
                    }
            
                    50% {
                        background-position: 100% 50%;
                    }
            
                    100% {
                        background-position: 0% 50%;
                    }
                }
            
                .button-bg {
                    background: conic-gradient(from 0deg, #00F5FF, #FF00C7, #FFD700, #00FF85, #8A2BE2, #00F5FF);
                    background-size: 300% 300%;
                    animation: shine 4s ease-out infinite;
                  }

                  /* index.css ya App.css me daal */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
